inst/rmarkdown/templates/ms_pdf/skeleton/*.tex linguist-detectable=false
inst/rmarkdown/templates/ms_pdf/skeleton/*.bib linguist-detectable=false
inst/rmarkdown/templates/beamer_metropolis/skeleton/*.tex linguist-detectable=false
inst/rmarkdown/templates/ms_Ecosistemas/skeleton/references.bib linguist-detectable=false
inst/rmarkdown/templates/Nota_Ecoinf_Ecosistemas/skeleton/references.bib linguist-detectable=false


